/* 600px以下の場合 */
@media screen and (max-width: 600px) {
    body {
        background: linear-gradient(to right, #a4ffbf, rgb(16, 246, 0));
    }
  }
  
  /* 600pxより大きい場合 */
  @media screen and (min-width: 601px) {
    body {
        background: linear-gradient(to right, #a4ffbf, rgb(46, 17, 63));
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    font-size: 1.2rem;
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to right, #a4ffbf, rgb(16, 246, 0)); */
    overflow: hidden;
    position: relative;
}

nav {
    width: 80%;
    display: flex;
    z-index: 1;
    margin: 20px auto;
    position: sticky;
    align-items: center;
    font-weight: 550;
}

.logo-area {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    color: white;
}

.logo {
    width: 20%;
    height: 20%;
    margin-right: 12px;
}


.nav-links {
    font-size: 30px;
    flex: 1; 
    text-align: right;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    padding: 0 2rem;
}

.nav-links ul a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links ul a:hover{
    color: rgb(236, 183, 183);
}

.infomation {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: 1s;
}

.feature img {
    width: 70px;
}

.feature {
    position: absolute;
    display: flex;
    color: #000000;
}

.feature div {
    margin-left: 20px;
}

.feature div a {
    margin-top: 8px;
}

.one {
    top: 450px;
    right: 70px;
}

.two {
    top: 245px;
    right: 180px;
    transform: rotate(-45deg);
}

.three {
    top: 140px;
    left: 400px;
    transform: rotate(-90deg);
}

.four {
    top: 245px;
    left: 200px;
    transform: rotate(-135deg);
}

.five {
    bottom: 470px;
    left: 130px;
    transform: rotate(-180deg);

}

.six {
    bottom: 245px;
    left: 160px;
    transform: rotate(-225deg);

}

.seven {
    bottom: 150px;
    right: 370px;
    transform: rotate(-270deg);

}

.eight {
    bottom: 245px;
    right: 130px;
    transform: rotate(-315deg);

}

.mobile {
    width: 400px;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
}

.control {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
}

.control img {
    width: 15px;
}

.control h3 {
    margin: 20px 0;
    color: #fff;
}

#upBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#downBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: rotate(-180deg);
}

.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #000000;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #000000;
    border-left: 500px solid #000000;
    top: 0;
    left: 0;
    position: absolute;
}

